<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <router-view></router-view>
</div>
<template id="fileView">
    <div>
        <el-link :underline="false" v-on:click="backUpLevel()"> 返回上一级</el-link>
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>活动管理</el-breadcrumb-item>
            <el-breadcrumb-item>活动列表</el-breadcrumb-item>
            <el-breadcrumb-item>活动详情</el-breadcrumb-item>
        </el-breadcrumb>
        <el-button @click="toggleSelection('all')">全选</el-button>
        <el-button @click="toggleSelection()">全不选</el-button>
        <el-table ref="fileList" :data="fileList" stripe style="width: 100%" @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column label="文件名">
                <template slot-scope="scope">
                    <i class="el-icon-folder-opened" v-if="scope.row.type === 'dir'"></i>
                    <i class="el-icon-document" v-else></i>
                    <el-link :underline="false" v-on:click="itemAction(scope.row)">
                        <span style="margin-left: 10px">{{ scope.row.name }}</span>
                    </el-link>
                </template>
            </el-table-column>
            <el-table-column prop="size" label="大小"></el-table-column>
            <el-table-column prop="time" label="修改时间"></el-table-column>
        </el-table>
    </div>
</template>
<script>
    const FileView = {
        template: '#fileView',
        data() {
            return {
                fileList: [],
                fileSelected: []
            }
        },
        created() {
            // 组件创建完后获取数据，
            // 此时 data 已经被 observed 了
            this.fetchData()
        },
        watch: {
            '$route': 'fetchData'
        },
        methods: {
            backUpLevel() {
                router.back()
            },
            toggleSelection(rows) {
                if (rows === 'all') {
                    this.$refs.fileList.toggleAllSelection();
                } else if (rows) {
                    rows.forEach(row => {
                        this.$refs.fileList.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.fileList.clearSelection();
                }
            },
            handleSelectionChange(val) {
                this.fileSelected = val;
            },
            itemAction(item) {
                switch (item.type) {
                    case 'dir':
                        router.push({name: 'file', query: {path: item.path}});
                        break;
                    case 'file':
                        var file_url = "http://127.0.0.1:5000/file_api?path=" + item.path;
                        window.open(file_url, 'download');
                    default:
                        break;
                }
            },
            fetchData() {
                console.log(this.$route.query.path);
                axios.get('http://127.0.0.1:5000/file_api', {
                    params: {
                        path: this.$route.query.path
                    }
                }).then((response) => {
                    switch (response.data.type) {
                        case 'dir':
                            this.fileList = response.data.items;
                            break;
                        case 'file':
                            break;
                        default:
                            break;
                    }
                }).catch((error) => {
                    console.log(error);
                })
            }
        }
    };
    var routes = [
        {
            path: '/zeronas/views/file.html',
            name: 'file',
            component: FileView
        },
    ];
    var router = new VueRouter({
        mode: 'history',
        routes
    });
    var app = new Vue({
        el: '#app',
        router,
        data: {},
        mounted() {
        }
    })
</script>
</body>
</html>