<!DOCTYPE html>
<html lang="en" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/vue-router.min.js"></script>
    <script src="/static/js/axios.min.js"></script>

    <script src="/static/js/iconfont.js"></script>

    <!--
    <script src="/static/js/element-ui.js"></script>
    -->
    <script src="/static/js/vuetify.js"></script>

    <!--
    <link href="/static/css/element-ui.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    -->
    <link href="/static/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/static/css/vuetify.min.css" rel="stylesheet">
    <style type="text/css">
        .type {
            width: 1em;
            height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
</head>
<body>
<v-app id="app">
    <!-- Sizes your content based upon application components -->
    <v-content>
        <v-toolbar color="teal" dark>
            <v-toolbar-title>Title</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <span class="subheading">My Home</span>
            <v-spacer></v-spacer>
            <v-toolbar-items class="hidden-sm-and-down">
                <v-btn text> 文件管理</v-btn>
                <v-divider inset vertical></v-divider>
                <v-btn text> 用户设置</v-btn>
                <v-divider inset vertical></v-divider>
                <v-btn text> 个人设置</v-btn>
                <v-divider inset vertical></v-divider>
                <v-btn text> 系统设置</v-btn>
                <v-divider inset vertical></v-divider>
            </v-toolbar-items>
            <v-app-bar-nav-icon></v-app-bar-nav-icon>
        </v-toolbar>
        <!-- Provides the application the proper gutter -->
        <v-container fluid>
            <!-- If using vue-router -->
            <router-view></router-view>
        </v-container>
    </v-content>
</v-app>
<template id="app2">
    <el-container>
        <el-header>
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item index="file">文件管理</el-menu-item>
                <el-menu-item index="user">用户设置</el-menu-item>
                <el-menu-item index="setting">个人设置</el-menu-item>
                <el-menu-item index="system">系统设置</el-menu-item>
                <el-menu-item index="3" disabled>消息中心</el-menu-item>
            </el-menu>
        </el-header>
        <el-main>
            <router-view></router-view>
        </el-main>
        <el-footer>

        </el-footer>
    </el-container>
</template>
<template id="fileView">
    <div class="elevation-3">
        <v-toolbar dense flat color="grey lighten-5">
            <v-btn class="ma-2" text icon color="blue lighten-2" v-on:click="goUpLevel()">
                <v-icon>mdi-arrow-up</v-icon>
            </v-btn>
            <v-divider inset vertical></v-divider>
            <v-breadcrumbs :items="pathList"></v-breadcrumbs>
        </v-toolbar>
        <v-divider></v-divider>
        <v-data-table
                :headers="tableHeader"
                :items="tableData"
                item-key="name"
                hide-default-footer
        >
            <template v-slot:item.name="{ item }">
                <svg class="type" aria-hidden="true">
                    <use :xlink:href="'#type-'+getType(item.type)"></use>
                </svg>
                <a style="margin-left: 10px" v-on:click="itemAction(item)"> {{ item.name }}</a>
            </template>
        </v-data-table>
    </div>
</template>
<template id="userView">
    <el-table id="userList" :data="userList" stripe style="width: 100%">
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column label="用户名">
            <template slot-scope="scope">
                <i class="icon icon-dir" v-if="scope.row.type === 'dir'"></i>
                <i class="el-icon-document" v-else></i>
                <el-link :underline="false" v-on:click="itemAction(scope.row)">
                    <span style="margin-left: 10px">{{ scope.row.name }}</span>
                </el-link>
            </template>
        </el-table-column>
        <el-table-column prop="size" label="已用空间"></el-table-column>
        <el-table-column prop="time" label="上次登录时间"></el-table-column>
    </el-table>
</template>
<template id="settingView">
</template>
<template id="systemView">
    <div id="uploadFrame" ondragstart="return false">
        <el-table id="tableData" :data="tableData" stripe style="width: 100%"
                  @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column label="文件名">
                <template slot-scope="scope">
                    <i class="icon icon-dir" v-if="scope.row.type === 'dir'"></i>
                    <i class="el-icon-document" v-else></i>
                    <el-link :underline="false" v-on:click="itemAction(scope.row)">
                        <span style="margin-left: 10px">{{ scope.row.name }}</span>
                    </el-link>
                </template>
            </el-table-column>
            <el-table-column prop="size" label="大小"></el-table-column>
            <el-table-column prop="time" label="修改时间"></el-table-column>
        </el-table>
    </div>
</template>
<script>
    const FileView = {
        template: '#fileView',
        data() {
            return {
                tableHeader: [
                    {text: '文件名', value: 'name'},
                    {text: '大小', value: 'size'},
                    {text: '修改时间', value: 'time'},
                ],
                tableData: [],
                pathList: [],
                fileSelected: [],
                typeMap: {
                    'dir': 'dir',
                    'mp3': 'mp3',
                }
            }
        },
        created() {
            // 组件创建完后获取数据，
            // 此时 data 已经被 observed 了
            this.fetchData();
        },
        mounted() {
            return;
            var uploadFrame = document.getElementById('uploadFrame');
            console.log(uploadFrame);
            uploadFrame.ondragenter = (e) => {
                e.preventDefault();  //阻止拖入时的浏览器默认行为
                console.log('ondragenter');
                uploadFrame.border = '2px dashed red';
            };
            uploadFrame.ondragover = (e) => {
                e.preventDefault();    //阻止拖来拖去的浏览器默认行为
                console.log('ondragover');
            };
            uploadFrame.ondragleave = (e) => {
                e.preventDefault();  //阻止离开时的浏览器默认行为
                console.log('ondragleave');
            };
            uploadFrame.ondrop = (e) => {
                e.preventDefault();    //阻止拖放后的浏览器默认行为
                console.log('ondrop');
                const data = e.dataTransfer.files;  // 获取文件对象
                if (data.length < 1) {
                    return;  // 检测是否有文件拖拽到页面
                }
                console.log(e.dataTransfer.files);
                const formData = new FormData();
                for (let i = 0; i < e.dataTransfer.files.length; i++) {
                    console.log(e.dataTransfer.files[i]);
                    if (e.dataTransfer.files[i].name.indexOf('map') === -1) {
                        alert('只允许上传.map文件');
                        return;
                    }
                    formData.append('uploadfile', e.dataTransfer.files[i], e.dataTransfer.files[i].name);
                }
                this.tableData = this.tableData.concat(e.dataTransfer.files[0]);
                console.log(formData, this.tableData, e.dataTransfer.files[0]);
            };
        },
        watch: {
            '$route': 'fetchData'
        },
        methods: {
            getType(name) {
                if (name in this.typeMap) {
                    return this.typeMap[name]
                } else return 'file'
            },
            goUpLevel() {
                var pathList = this.$route.query.path.split('/');
                if (pathList[1] !== '') {
                    var newPath = pathList.slice(0, -1).join('/') || '/';
                    router.push({name: 'file', query: {path: newPath}});
                }
            },
            toggleSelection(rows) {
                console.log(this.$refs.tableData);
                if (rows === 'all') {
                    this.$refs.tableData.toggleAllSelection();
                } else if (rows) {
                    rows.forEach(row => {
                        this.$refs.tableData.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.tableData.clearSelection();
                }
            },
            handleSelectionChange(val) {
                this.fileSelected = val;
            },
            itemAction(item) {
                switch (item.type) {
                    case 'dir':
                        router.push({name: 'file', query: {path: item.path}});
                        break;
                    case 'file':
                        var file_url = "/api/file?path=" + item.path;
                        window.open(file_url, 'download');
                    default:
                        break;
                }
            },
            fetchData() {
                var path = this.$route.query.path || '/';
                console.log(path);
                axios.get('/api/file', {
                    params: {
                        path
                    }
                }).then((response) => {
                    switch (response.data.type) {
                        case 'dir':
                            this.tableData = response.data.items;
                            const pathParts = path.split('/');
                            console.log(pathParts, pathParts.length);
                            if (pathParts.length < 2 || pathParts[1] !== '')
                                this.tableData.unshift({
                                    type: 'dir',
                                    name: '..',
                                    path: pathParts.slice(0, -1).join('/'),
                                    size: '-',
                                    time: '-'
                                });
                            this.pathList = [];
                            pathParts.forEach((item, index) => {
                                if (index === 0) item = 'Home';
                                this.pathList.push({
                                    text: item,
                                    disabled: false,
                                    exact: true,
                                    to: {
                                        name: 'file',
                                        query: {
                                            path: pathParts.slice(0, index + 1).join('/')
                                        }
                                    }
                                })
                            });
                            break;
                        case 'file':
                            break;
                        default:
                            break;
                    }
                }).catch((error) => {
                    console.log(error);
                })
            }
        }
    };
    const UserView = {
        template: '#userView',
        data() {
            return {userList: []}
        },
        created() {
            // 组件创建完后获取数据，
            // 此时 data 已经被 observed 了
            this.fetchData()
        },
        watch: {
            '$route': 'fetchData'
        },
        methods: {
            fetchData: function () {
                axios.post('/api/user', {
                    action: 'list'
                }).then((response) => {
                    console.log(response);
                    response.data.body.map((item, index) => {
                        this.userList.push({
                            name: item
                        });
                        axios.post('/api/user', {
                            action: 'space',
                            username: item
                        }).then((response_space) => {
                            this.$set(this.userList, index, response_space.data.body)
                        })
                    });
                });
            }
        }
    };
    const SettingView = {template: '#settingView'};
    const SystemView = {template: '#systemView'};
    var router = new VueRouter({
        mode: 'history',
        routes: [
            {
                path: '/file',
                name: 'file',
                component: FileView
            },
            {
                path: '/user',
                name: 'user',
                component: UserView
            },
            {
                path: '/setting',
                name: 'setting',
                component: SettingView
            },
            {
                path: '/system',
                name: 'system',
                component: SystemView
            },
        ],
    });
    var app = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        router,
        data() {
            return {
                activeIndex: this.$route.name
            };
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
                if (this.$route.name !== key)
                    router.push({name: key});

            }
        },
        mounted() {
        }
    })
</script>
</body>
</html>